
.main-color {
    background-color: peru;
}

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.hovered-card{
    transition: .3s;
}

.hovered-card:hover{
    transform: scale(1.1);
}

.icon-service{
    width: 90px;
    height: 90px;
    color: #fff;
}